.app {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.app.bg1 {
    background-image: url(/green.png);
}

.app.bg2 {
    background-image: url(/yellow.png);
}

.app.bg3 {
    background-image: url(/pink.png);
}

.app.bg4 {
    background-image: url(/blue.png);
}